#content-results {
  width: 100%;
  height: auto;
  #menu {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    margin-top: 30px;
    .title {
      width: 250px;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 300ms;
      cursor: pointer;
      img {
        width: 50px;
        height: 50px;
        margin-right: 10px;
      }
      h3 {
        font-family: 'FiraSans-SemiBold';
      }
    }
    .title:hover {
      color: #ccc;
    }
    form {
      width: calc(100% - 250px);
      display: flex;
      justify-content: center;
      height: 50px;
      padding-right: 40px;
      input {
        margin-right: 20px;
      }
      button {
        display: flex;
        line-height: 35px;
        i {
          display: block;
          line-height: 35px;
          margin-left: 6px;
        }
      }
    }
  }
  #results {
    width: 90%;
    margin: 0px auto;
    margin-top: 50px;
    .info {
      padding-left: 30px;
      font-family: 'FiraSans-SemiBold';
      font-size: 25px;
    }
    .container-results {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: space-between;
      padding-right: 200px;
      .results {
        height: auto;
        padding: 25px;
        width: 45%;
        .result {
          min-height: 110px;
          margin-bottom: 10px;
          max-height: 200px;
          .title {
            color: #8AB4E4;
            cursor: pointer;
            font-size: 19px;
            &:hover {
              text-decoration: underline;
            }
          }
          .description {
            color: #ccc;
            font-size: 16px;
            text-align: justify;
          }
        }
      }
      .preview {
        margin-top: 50px;
        width: 350px;
        height: min-content;
        padding-bottom: 20px;
        border: 2px solid #ccc;
        border-radius: 10px;
        overflow: hidden;
        position: sticky;
        top: 30px;
        img {
          display: block;
          width: 100%;
          margin: 0px auto;
          height: 180px;
        }
        h3 {
          margin-top: 10px;
          margin-left: 10px;
        }
        h4 {
          margin-left: 10px;
          font-size: 16px;
          color: #ccc;
        }
        p {
          margin-left: 10px;
          margin-right: 10px;
        }
      }
    }
    .no-results {
      h3 {
        text-align: center;
        font-family: 'FiraSans-Regular';
        font-size: 35px;
      }
      img {
        display: block;
        width: 400px;
        margin: 0px auto;
        margin-top: 50px;
      }
    }
  }
}

.loading {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.69);
  top: 0;
  i {
    font-size: 60px;
    color: #ccc;
  }
}