@font-face {
  font-family: 'FiraSans-Bold';
  src: url('./assets/fonts/FiraSans-Bold.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'FiraSans-Regular';
  src: url('./assets/fonts/FiraSans-Regular.ttf');
}

@font-face {
  font-family: 'FiraSans-SemiBold';
  src: url('./assets/fonts/FiraSans-SemiBold.ttf');
}
